<!DOCTYPE html>
<html ng-app="myApp" lang="en">

  <head>
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.5/angular-messages.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mad Libs!</title>
  </head>

  <body ng-init="numbers=[0,1,2,3,4,5]">
    <nav class="masthead">
    	<div class="smiley">
    	</div>
    	<div class="title">
    	</div>
    </nav>
    <div ng-controller="madLibsController">
        <section class="user-input" ng-show="!showMadLibs">
    	    <h1>Please provide the following:</h1>
    	    <span>Female</span>
    	    <label class="switch">
    	    	<input type="checkbox" ng-model="isMale">
    	    	<div class="slider round"></div>
    	    </label>
    	    <span>Male</span>
    	    <form name="myForm" novalidate ng-submit="submit()">
    	    <table align="center">
    		    <tr>
    	            <td>
    	        	    <input type="text" ng-model="charName" placeholder="<name>" name="charName" required>
    	            </td>
    	            <td>
    	        	    <input type="text" ng-model="dirtyTask" placeholder="<dirty task>" name="dirtyTask" required>
    	            </td>
    	            <td>
    	        	    <input type="text" ng-model="obnoxCeleb" placeholder="<obnoxious celebrity>" name="obnoxCeleb" required>
    	            </td>
    	        </tr>
    		    <tr>
    	            <td>
    	        	    <input type="text" ng-model="jobTitle" placeholder="<job title>" required>
    	            </td>
    	            <td>
    	        	    <input type="text" ng-model="celeb" placeholder="<celebrity>" required>
    	            </td>
    	            <td>
    	        	    <input type="number" ng-model="hugeNum" placeholder="<huge number>" required>
    	            </td>
    	        </tr>
    		    <tr>
    	            <td>
    	        	    <input type="text" ng-model="tediousTask" placeholder="<tedious task>" required>
    	            </td>
    	            <td>
    	        	    <input type="text" ng-model="uselessSkill" placeholder="<useless skill>" required>
    	            </td>
    	            <td>
    	        	    <input type="text" ng-model="adjective" placeholder="<adjective>" required>
    	            </td>
    	        </tr>
            </table>
            <button type="submit">
            	Generate Mad-Libs
            </button>
        </form>
        <hr>
        </section>
        <div ng-if="myForm.$submitted && !myForm.$valid">
        	<p>Please make sure you've provided all the required fields!</p>
        </div>
        <section class="mad-libs" ng-if="showMadLibs">
    	    <p ng-if="isMale">
    		    <em>{{charName}}</em> was a <em>{{jobTitle}}</em> who loved technology. Although he loved parts of his job, he absolutely hated  <em>{{tediousTask}}</em> and <em>{{dirtyTask}}</em>. So, <em>{{charName}}</em> met with his life mentor <em>{{celeb}}</em> who told him to learn how to <em>{{uselessSkill}}</em> with Thinkful. Thinkful didn't offer a course on <em>{{uselessSkill}}</em> so he studied programming instead.  What a great decision! With his new skills, <em>{{charName}}</em> built a(n) <em>{{adjective}}</em> robot named <em>{{obnoxCeleb}}</em> that not only loved <em>{{dirtyTask}}</em> but did it <em>{{hugeNum}}</em> time(s) faster.
    	    </p>
    	    <p ng-if="!isMale">
    		    <em>{{charName}}</em> was a <em>{{jobTitle}}</em> who loved technology. Although she loved parts of her job, she absolutely hated  <em>{{tediousTask}}</em> and <em>{{dirtyTask}}</em>. So, <em>{{charName}}</em> met with her life mentor <em>{{celeb}}</em> who told her to learn how to <em>{{uselessSkill}}</em> with Thinkful. Thinkful didn't offer a course on <em>{{uselessSkill}}</em> so she studied programming instead.  What a great decision! With her new skills, <em>{{charName}}</em> built a(n) <em>{{adjective}}</em> robot named <em>{{obnoxCeleb}}</em> that not only loved <em>{{dirtyTask}}</em> but did it <em>{{hugeNum}}</em> time(s) faster.
    	    </p>
    	    <button ng-click="reset()">
            	reset
            </button>
        </section>
    </div>    
  </body>

</html>
